@use "sass/var" as var;

.sizesWrapper {
	display: flex;
	gap: 8px;

	.btnSize {
		border-radius: 1px;
		min-width: 30px;
		background-color: transparent;
		color: var.$softblack;
		transition: all 0.3s;
		padding: 1px;
		font-size: 0.8rem;
		font-weight: 600;
		border: 1px solid #dedede;

		&.activeChoose,
		&:focus,
		&:hover {
			background: var.$secondarycolor;
			color: #000;
			border: 1px solid transparent;
		}
	}
}
