$robotofont: "Roboto Condensed", sans-serif;
$poppinsfont: Poppins, sans-serif;
$cairofont: Cairo, sans-serif;
$oswaldfont: "Oswald", sans-serif;

$primarycolor: #1c315e;
$secondarycolor: #ffbb38;
$ternarycolor: #3e6d9c;
$accentcolor: #ff0032;
$softblack: #626262;
$hardblack: #222;
$backgroundcolor: rgba(219, 219, 219, 0.89);

$breakpoints: (
	xs: 0,
	sm: 576,
	md: 768,
	lg: 992,
	xl: 1200,
	xxl: 1300,
);

$direction: rtl;
