@use "../helper/var";

.btn-add {
    background-color: var.$primarycolor;
    color: #fff;
    border: none;
    padding: 8px 17px 8px 14px;
    transition: all 0.3s;
    text-decoration: none;
    cursor: pointer;
    border-radius: 20px;
    font-size: 0.8rem;

    .spinner {
        display: none;
    }

    &:hover,
    &:focus {
        background-color: #066a6c;
        color: #fff;
    }

    .icon {
        font-size: 15px;
        margin-right: 8px;
    }
}
.btn-delete {
    @extend .btn-add;
    background-color: var(--bs-danger);
}
