.notification-list-wrapper {
    overflow: auto;
    height: 0px;
    position: absolute;
    right: 7px;
    top: 32px;
    width: 386px;
    padding: 0px;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    max-height: calc(100vh - 180px);
    .title {
        font-size: 0.9rem;
        margin-bottom: 1.3rem;
        margin-top: 1.3rem;
        padding-right: 13px;
        padding-left: 13px;
        display: flex;
        justify-content: space-between;
    }
    .view-more {
        font-size: 0.8rem;
        color: var(--bs-primary);
    }
    .notification-list {
        padding-bottom: 1.3rem;
    }

    .notification-list .notification-item {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        position: relative;
        padding-right: 13px;
        padding-left: 13px;
        &:hover {
            background-color: #eee;
        }
        &:not(:last-child) {
            border-bottom: 1px solid #e7e7e7;
        }
    }
    .notification-item .icon-cart {
        background-color: #f1f2fe;
        width: 30px;
        height: 30px;
        text-align: center;
        border-radius: 50%;
        line-height: 30px;
        color: #5c5c5c;
    }
    .info {
        width: 89%;
    }
    .info .content {
        margin: 0px 10px;
        width: 100%;
        color: #2a3042;
        font-size: 0.8rem;
        font-weight: 600;
        padding: 0.8rem 0px;
        &.active {
            color: var(--bs-primary);
        }
    }
    .notification-item .icon-circle {
        position: absolute;
        left: 3px;
        top: 50%;
        transform: translateY(-50%);
        .icon {
            font-size: 7px;
            color: var(--bs-primary);
        }
    }
}
