@use "../helper/var";

.datatable-wrapper {
    table.dataTable {
        width: 100% !important;
    }
    .search {
        width: 212px;
        font-size: 0.8rem;
        padding: 7px 26px 7px 13px;
        border-radius: 14px;
        border: 1px solid #dedede;
    }

    .icon-search {
        position: absolute;
        right: 9px;
        top: 7px;
        color: #888;
    }

    .menu-wrapper {
        position: relative;
    }

    .dropdown-menu-btn {
        border: none;

        &:hover,
        &:focus {
            background-color: transparent;
        }
    }

    .menu-wrapper .action-menu {
        background-color: white;
        z-index: 99;
        width: 164px;
        padding: 0.5rem 0px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border: 1px solid #dedede;
    }

    .action-menu .item a {
        color: #222;
        padding: 5px 8px;
        width: 100%;
        font-weight: 500;
        font-size: 0.8rem;
        transition: all 0.3s;

        &:hover {
            color: var(--bs-primary);
        }

        .icon {
            width: 14px;
        }

        span {
            margin-right: 3px;
        }
    }

    .table-data-layout {
        margin-top: 1.2rem !important;

        td:first-child,
        th:first-child,
        td:last-child,
        th:last-child {
            border-left-width: 0px !important;
            border-right-width: 0px !important;
        }

        .sorting_disabled {
            padding-right: 0.9rem !important;
        }

        .sorting_disabled::after {
            content: "" !important;
        }

        .sorting_disabled::before {
            content: "" !important;
        }

        .image {
            width: 76px !important;
        }

        & > :not(caption) > * > * {
            background-color: #fff !important;
            box-shadow: none !important;
            border-width: 0px;
        }

        thead th {
            border-top: 0px !important;
            background-color: #eff2f7 !important;
            font-weight: 600;
            color: #333333;
        }

        tbody tr td {
            border-bottom-width: 0px !important;
        }

        tbody tr:not(:last-child) td {
            border-bottom: 1px solid #dedede !important;
        }

        tbody > tr:hover > * {
            background-color: var.$bodycolor !important;
        }

        th,
        td {
            padding: 1rem 0.86rem;
            text-align: center !important;
            font-size: 0.8rem;
        }

        .action-multiple-wrapper {
            width: 15px !important;
        }

        tbody td {
            color: #5e5e5e !important;
            font-weight: 600;
            vertical-align: middle;
            max-width: 356px !important;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .multiple-action {
            width: 15px;
            height: 15px;
            border: 1px solid #dedede;
        }

        tbody td.image {
            padding: 0px;
        }

        .action-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;
        }

        .action-wrapper .btn-action {
            border: none;
            background-color: transparent;
        }

        .action-wrapper .icon-edit {
            color: var(--bs-green);
        }

        .action-wrapper .icon-delete {
            color: var(--bs-danger);
        }

        .action-wrapper .icon-restore {
            color: var(--bs-primary);
        }
    }
}
