@use "sass/var" as var;

@mixin badge($offset: ()) {
	position: absolute;
	background-color: var.$accentcolor;
	color: #fff;
	border-radius: 50%;
	text-align: center;
	font-size: 12px;
	font-weight: 400;
	@if length($offset) >0 {
		@each $propetyName, $propertyValue in $offset {
			#{$propetyName}: #{$propertyValue}px;
		}
	} @else {
		right: 21px;
		top: -9px;
		height: 17px;
		line-height: 18px;
		width: 17px;
	}
}
