@use "sass/var" as var;
@use 'sass/mixins/animationbutton' as *;
@use 'sass/mixins/mediaquery' as *;
@use 'sass/mixins/overlay' as *;

.offerWrapper {

    .banner {
        width: 100%;
        height: 300px;
        background-size: cover;
        position: relative;
        background-position: center;
        display: flex;
        align-items: center;
        text-align: center;
        padding: 0px 2rem;
        overflow: hidden;
        @include overlay(#000, 0.3);

        @include minmediaquery('lg') {
            text-align: right;
        }
    }

    .imageBox {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 1;
        transition: all 1s;
    }

    .banner:hover .imageBox {
        transform: scale(1.1);
    }

    .intro {
        position: relative;
        z-index: 2;
        width: 95%;
        border: 1px solid #d3d3d3;
        padding: 0.8rem 2rem;
    }

    .intro .title {
        font-size: 1.8rem;
        font-weight: bold;
        color: #fff;
    }

    .intro .description {
        font-weight: 500;
        font-size: 1.2rem;
        color: #e3e3e3;
    }

    .intro .offer {
        color: #000;
        font-size: 1.3rem;
        font-weight: bold;
        font-family: var.$oswaldfont;
    }

    .intro .shopNow {
        margin: 1rem auto;
        padding: 0.8rem 4rem;
        position: relative;
        isolation: isolate;
        border: 1px solid #fff;
        border-radius: 0px;
        background: transparent;
        color: #fff;
        font-weight: 600;

        @include animationbutton(var.$secondarycolor);

        @include minmediaquery('lg') {
            margin-right: 0px;

        }

        .text {
            transition: all 0.3s;
        }

        &:hover .text {
            color: #fff;

        }
    }

}