@use 'sass/var' as var;

.categories {

    position: relative;

    .catWrapper {
        padding-bottom: 30px;
        text-align: center;
        border-radius: 5px;
    }

    .catImageWrapper {
        overflow: hidden;
        position: relative;
        height: 160px;

        &:hover .catImage {
            transform: scale(1.0258);
        }
    }

    .catImage {
        transition: all 0.9s ease;
        cursor: pointer;

    }

    .catName {
        text-align: center;
        cursor: pointer;
        margin-top: 0.9rem;
        margin-bottom: 0px;
        color: #fff;
        transition: all 0.5s;
        display: block;
        background-color: var.$primarycolor;
        padding: 5px;

        &:hover {
            color: #0b5cd3;
        }
    }

}