@use './helper/var' as var;

.main-wrapper {
    background-color: var.$bodycolor;
    padding: 2rem 1.5rem;
    flex-grow: 1;
    margin-right: 250px;
    margin-top: 70px;
    overflow: hidden;

    .header-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .content {
        padding: 1.3rem 0px;
        margin-top: 1rem;
        position: relative;
    }
}