@use "./helper/var" as var;
@use "./mixins//mediaquery" as *;

.main-wrapper {
    background-color: var.$bodycolor;
    margin-top: 4rem;
    width: 100%;
    min-height: 100vh;
    .header-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 3rem;
        margin-bottom: 1.2rem;
    }

    .content {
        padding: 1.3rem 0px;
        margin-top: 1rem;
        position: relative;
    }
}
