@use "./helper/var" as var;

* {
    box-sizing: border-box;
}

body {
    font-family: var.$cairofont;
    margin: 0px;
    direction: var.$direction;
}

a {
    display: inline-block;
    text-decoration: none;
    user-select: none;
    color: inherit;
}

.form-control,
.form-select {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    border: 1px solid #dedede;
    transition: all 0.3s;

    &:hover,
    &:focus {
        box-shadow: 0 0 0 0.1rem rgba(13, 110, 253, 0.25);
    }
}

span {
    display: inline-block;
}
