@use "sass/var" as var;

.sidebarListMenu {
	position: fixed;
	right: -100%;
	top: 0px;
	width: 300px;
	height: 100vh;
	background-color: #fff;
	z-index: 20;
	padding: 1.5rem 0.9rem;
	box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
	transition: all 0.8s;
	overflow: auto;
	&.openSidebarMenuMobile {
		right: 0px;
	}

	.listMenu {
		margin-top: 2rem;
	}

	.listMenu .item {
		margin-top: 0.3rem;
		border-bottom: 1px solid #dedede;
	}

	.listMenu .item a {
		padding: 0.5rem 0px 0.7rem;
		transition: all 0.3s;
		width: 100%;
		font-size: 0.866rem;

		&:hover {
			color: var(--bs-primary);
		}
	}

	.iconMenuMobileCloseWrapper {
		position: absolute;
		left: 10px;
		top: 5px;
		color: var.$softblack;
		cursor: pointer;
		padding: 5px;
		transition: all 0.4s;

		&:hover,
		&:focus {
			background-color: var(--bs-primary);
			color: #fff;
		}
	}
}
