@use "sass/var" as var;
@use "sass/mixins/mediaquery" as *;
@use "sass/mixins/badge" as *;

.menuWrapper {
	background-color: #ffff;
	padding: 0.625rem 0px;
	width: 100%;
	z-index: 40;
	position: sticky;
	top: 0px;
	&.fixed {
		box-shadow: var.$boxshadow;
	}
	.categoryWrapper {
		width: 260px;
		position: relative;
		margin-left: 10px;
		display: none;

		@include minmediaquery("lg") {
			display: block;
		}
	}

	.listMenu {
		display: none;

		@include minmediaquery("lg") {
			padding-right: 10px;
			display: flex;
			align-items: center;
			margin: 0px;
		}
	}

	.listMenu > .item {
		color: #000;
		font-weight: 400;
		font-size: 0.86rem;
		font-family: var.$cairofont;
		margin-left: 2rem;
		transition: all 0.3s;
		padding: 1rem 0px;

		> &:hover {
			color: var(--bs-primary);
		}
	}
	.leftContent {
		display: none;
		&.show {
			@include minmediaquery("lg") {
				display: block;
			}
		}
	}
	.leftContent .cartListBtn,
	.leftContent .searchBtn {
		background-color: transparent;
		color: #3f3f3f;
		border: 0px;
		position: relative;
		outline: none;
		padding: 0px 5px;
		transition: all 0.5s;
		&:hover {
			color: var(--bs-primary);
		}
	}
	.cartListBtn .count {
		@include badge(
			(
				width: 15,
				height: 15,
				line-height: 14,
				top: -6,
				left: 0,
			)
		);
	}
	.mobileWrapper {
		width: 100%;
		display: none;

		@include maxmediaquery("lg") {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}

	.mobileWrapper .logoMobileScreen .logo {
		color: #000;
		font-weight: 600;
		font-size: 1.4375rem;
		font-family: var.$oswaldfont;
		user-select: none;
		.special {
			color: var.$secondarycolor;
		}
	}

	.mobileWrapper .barWrapper {
		cursor: pointer;
	}
}
